# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git-repository\2021MCM-ICM_ipynb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
